<ul class="nav nav-tabs">
  <li ng-class="'active': (current_easel == item.id)" ng-click="changeTo(item.id)" ng-repeat="item in easels">{{item.canvas.id}}<span ng-click="removeEasel(item.id)" class="glyphicon glyphicon-remove"</span></li>
  <li ng-click="addEasel()" class="active"><span class="glyphicon glyphicon-plus"></span></li>
</ul>
<div id="workspace">

  <div ng-show="current_easel == item.id" ng-repeat="item in easels">
    <easel>
      <select ng-model="brushsize" ng-options="itemz.settings.brush.stroke.size as itemz.name for itemz in tools"></select>
      <canvas></canvas>
    </easel>
  </div>
</div>
